<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhotoCentr.Properties.Settings.PhotoCenterConnectionString"
            connectionString="Data Source=DESKTOP-CPO7E1M;Initial Catalog=PhotoCenter;Persist Security Info=True;User ID=oleg"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>